.container {
    display: flex;
    
    align-items: center;
}

.searchButton {
    all: unset;
    background-color: colors.$primary-color;
}

.searchIcon {
    color: colors.$white;
    background-color: colors.$primary-color;
}
