.container {
    display: flex;
    align-items: center;

    min-width: 20rem;
}

.searchButton {
    all: unset;
    background-color: colors.$primary-color;
}

.searchIcon {
    color: colors.$white;
    background-color: colors.$primary-color;
}
