.buttonIconContainer {
    all: unset;

    padding-inline-start: 0.5rem;

    cursor: pointer;
}

.buttonIconText {
}

.primaryButton {
}

.primaryButtonBold {
}

.primaryButtonDisabled {
}

.primaryButtonRounded {
}
