.noResultsContainer {
    margin: 1rem;
}

.noResultsText {
}

.resultsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    
    gap: 1rem;
    margin: 1rem;
}
